<html>
	<head>
		<title>Wellness Mirror Login</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="Maria Paula Saba/Maxwell Dayvson da Silva">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"/>
		<link href="/public/css/style.css" rel="stylesheet"/> 

		<!--<meta name="apple-mobile-web-app-capable"content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<script>window.scrollTo(0,1);</script>-->
	</head>
	<body>
			<!--div class="header">
				<div class="container">
			        <img src="/public/img/logo_small.png" title="Wellness Mirror"/>
			        <ul class="nav nav-pills pull-right">
			          <li ><a href="#" class="selected">Home</a></li>
			          <li><a href="#">About</a></li>
			        </ul>
		    	</div>
	        </div>-->


		<div class="login">
	        <img src="/public/img/logo.png" title="Wellness Mirror"/>

	        <p class="lead">Sign in with your Fitbit account to see your data in the mirror.</p>

	        <p><a class="btn btn-lg btn-success" href="/oauth" role="button">Sign in</a></p>
		</div>

		<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
	</body>
</html>