<html>
	<head>
		<title>Wellness Mirror</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="Maria Paula Saba/Maxwell Dayvson da Silva">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"/>
		<link href="/public/css/style.css" rel="stylesheet">
		<link href="/public/css/datepicker.css" rel="stylesheet">
		<style>

		</style>
	</head>
	<body>
		<div class="header">
		    <div class="wrapper">
		  	  <a href="#"><img src="/public/img/logo_small.png" title="Wellness Mirror"/></a>
		   	  <img src="<%= user.avatar %>" class="avatar pull-right" />
			  <ul class="nav nav-pills pull-right">
		          <li ><a href="#" class="selected">Home</a></li>
		          <li ><a href="#">About</a></li>
		          <li ><a href="#"> <%= user.nickname %></a></li>
		      </ul>
		    </div> 
	 	 </div>
      	<div class="wrapper">
      	 	<div class="container">	
      	 		<p class = "choose_title">Choose time range</p>
		        <form>
					<div class="input-append" id="datePicker" data-date="2013-11-10" data-date-format="yyyy-mm-dd">
						<input class="span2 date" size="16" id="dataPickerField" type="text" value="2013-11-10" >

					</div>
				</form>
				<form>
					<div class="input-append" id="datePicker" data-date="2013-11-10" data-date-format="yyyy-mm-dd">
						<input class="span2 date" size="16" id="dataPickerField" type="text" value="2013-11-10">
						<span class="add-on"></span>
					</div>
				</form>
				<p><a class="btn submit" href="#" role="button">Submit</a></p>
      	 		<p class = "choose_title">Choose visualization mode</p>
				<p><a class="btn highlight modes" href="#" role="button">Overall mood</a></p>
				<p><a class="btn submit " href="#" role="button">By Percentage</a></p>
				<div class = "result_overall">
					<p>From 11/29/2013 to 11/29/2013, your sleep and active levels are:</p>
					<p><span>DROWSY AND LAZY</span></p>
				</div>	
				<!--<div class = "result_percentage">
					<ul class="nav">
						<li><div class="legend bed"></div>time in bed</li>
						<li><div class="legend sedentary"></div>sedentary</li>
						<li><div class="legend light"></div>light active</li>
						<li><div class="legend fairly"></div>fairly active</li>
						<li><div class="legend very"></div>very active</li>
					</ul>
				</div>-->
				<div class="footer">
	        	<p>© Maria Paula Saba / Maxwell Dayvson da Silva 2013</p>
	      		</div>
			</div>
		</div>					



		<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
		<script src="/public/js/bootstrap-datepicker.js"></script>
		<script>
			

			$(function(){
				console.log("onload ");
				$("#dataPickerField").on("change", function(elem){
					var data = {"date": $(this).val()};
			        $.ajax({
					  type: "POST",
					  url: "http://localhost:8080/sleep/date/select",
					  data: data,
					  success: function(data){console.log(data);},
					  dataType: "json"
					});
				});
			});
		</script>
	</body>
	</body>
</html>