<html>
	<head>
		<title>Wellness Mirror</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="Maria Paula Saba/Maxwell Dayvson da Silva">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"/>
		<link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet"/>
		<link href="/public/css/datepicker.css" rel="stylesheet">
		<style>

		</style>
	</head>
	<body>
		<div class="container">
			<div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li style="min-height:38px"><a href="#">About</a></li>
          <li ><a href="#"><img src="<%= user.avatar %>" height="21" /> <%= user.nickname %></a></li>
        </ul>
        <h3 class="text-muted">Wellness Mirror</h3>
      </div>

			<div class="jumbotron">

		        <form>
					<div class="input-append date" id="datePicker" data-date="2013-11-10" data-date-format="yyyy-mm-dd">
						<input class="span2" size="16" id="dataPickerField" type="text" value="2013-11-10" >
						<span class="add-on"><i class="icon-calendar"></i></span>
					</div>
				</form>
		    </div>
		    <div class="footer">
	        	<p>@2013</p>
	      	</div>
		</div>

		<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
		<script src="/public/js/bootstrap-datepicker.js"></script>
		<script>
			

			$(function(){
				console.log("onload ");
				$("#dataPickerField").on("change", function(elem){
					var data = {"date": $(this).val()};
			        $.ajax({
					  type: "POST",
					  url: "http://localhost:8080/sleep/date/select",
					  data: data,
					  success: function(data){console.log(data);},
					  dataType: "json"
					});
				});
			});
		</script>
	</body>
	</body>
</html>